@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto&family=Rubik&display=swap");
.btn-primary-web {
  background: #ff3d3d;
  color: white;
  border: 0;
}

.btn-primary-web:hover {
  color: #fff;
  text-decoration: none;
}

.btn-primary-web:hover {
  background: rgba(255, 61, 61, 0.85);
}

.btn-black-border {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.btn-web {
  padding: 1.5rem 3.5rem;
  outline: none;
  border-radius: 6px;
  font: 400 18px/22.77px 'Rubik', sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-web:hover {
  text-decoration: none;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.title h2 {
  font: 700 6.2rem/7.5rem 'PT Serif', serif;
  margin-bottom: 3rem;
  z-index: 1;
}

.title .title-bg-shape {
  width: 28%;
  z-index: -1;
}

.title p {
  font: 400 24px/28.44px 'Rubik', sans-serif;
}

@media screen and (max-width: 480px) {
  .remove-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.banner-section {
  width: 100%;
  min-height: 100vh;
  background: url("../images/banner-bg.png");
  padding-bottom: 20rem;
}

.banner-section h3 {
  font: 700 4.8rem/63.6px 'PT Serif', serif;
}

.banner-section .content_wrapper h1 {
  font: 700 9rem/10.5rem 'PT Serif', serif;
  margin-bottom: 30px;
  z-index: 2;
}

.banner-section .content_wrapper p {
  font: 400 2.4rem/3.3rem 'Rubik', sans-serif;
}

.banner-section .content_wrapper .title-bg-shape {
  top: 54%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -5%;
  width: 50%;
}

.banner-section .content_wrapper .button-wrapper {
  margin-top: 50px;
  gap: 25px;
}

.banner-section .content_wrapper .rating-wrapper {
  gap: 25px;
  margin-top: 25px;
}

.banner-section .content_wrapper .rating-wrapper h5 {
  font: 400 1.4rem/16.6px 'Roboto', sans-serif;
  mix-blend-mode: normal;
  color: black;
  opacity: 0.5;
  margin: 0;
}

.banner-section .oval-image {
  width: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

main h3 {
  font: 700 4.8rem/63.6px 'PT Serif', serif;
}

main #accepting-payments {
  background: #fff3d6;
  padding: 26.5rem 0 17.5rem 0;
  z-index: 10;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main #accepting-payments .over-services {
  top: -4%;
  z-index: 11;
}

main #accepting-payments .over-services .over-inner-wrapper {
  padding: 5.7rem 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 50px 100px rgba(8, 15, 21, 0.0749392);
          box-shadow: 0px 50px 100px rgba(8, 15, 21, 0.0749392);
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .right-circle {
  width: 5.3rem;
  height: 5.3rem;
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .over-wrapper-content h5 {
  font: 400 1.5rem/1.8rem 'Roboto', sans-serif;
  color: black;
  opacity: 0.26;
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .over-wrapper-content h4 {
  font: 400 2.4rem/3rem 'Rubik', sans-serif;
}

main #accepting-payments .title .title-bg-shape {
  top: -20%;
  right: 32%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

main #accepting-payments .services-wrappers {
  margin-top: 10rem;
}

main #accepting-payments .services-wrappers:after, main #accepting-payments .services-wrappers:before {
  position: absolute;
  z-index: -1;
  background-size: cover;
}

main #accepting-payments .services-wrappers:after {
  content: '';
  width: 5rem;
  height: 4.5rem;
  left: -2%;
  top: 1%;
  background: url("../images/icons/blue-services.svg") no-repeat;
}

main #accepting-payments .services-wrappers:before {
  content: '';
  width: 15.5rem;
  height: 12.3rem;
  right: -7%;
  bottom: -5%;
  background: url("../images/icons/green-service.svg") no-repeat;
}

main #accepting-payments .services-wrappers .services-wrapper {
  margin-top: 4rem;
  padding: 4.5rem 7.5rem;
  border-radius: 10px;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content {
  padding-left: 11.5rem;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content h6 {
  color: #ff3d3d;
  font: 400 1.8rem/3rem 'Roboto', sans-serif;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content h5 {
  font: 400 4.2rem/5.4rem 'PT Serif', serif;
  color: black;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content .bottom-content p {
  font: 400 2.4rem/3.6rem 'Roboto', sans-serif;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content .bottom-content a img {
  max-width: 3rem;
}

main #accepting-payments .having-issues {
  margin-top: 13.2rem;
}

main #accepting-payments .having-issues h3 {
  margin-bottom: 95px;
}

main #thousands-sellers {
  padding: 18.5rem 0;
}

@media (min-width: 768px) {
  .dsk-display-none {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */