@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto&family=Rubik&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.title h2 {
  font: 700 6.2rem/7.5rem 'PT Serif', serif;
  margin-bottom: 3rem;
  z-index: 1;
}

.title .title-bg-shape {
  width: 28%;
  z-index: -1;
}

.title p {
  font: 400 24px/28.44px 'Rubik', sans-serif;
}

@media screen and (max-width: 480px) {
  .remove-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.btn-primary-web {
  background: #ff3d3d;
  color: white;
  border: 0;
}

.btn-primary-web:hover {
  color: #fff;
  text-decoration: none;
}

.btn-primary-web:hover {
  background: rgba(255, 61, 61, 0.85);
}

.btn-black-border {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.btn-web {
  padding: 1.5rem 3.5rem;
  outline: none;
  border-radius: 6px;
  font: 400 1.8rem/22.77px 'Rubik', sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-web:hover {
  text-decoration: none;
}

.banner-section {
  min-height: 100vh;
  background: url("../images/banner-bg.png");
  padding: 5rem 0 20rem 0;
}

.banner-section h3 {
  font: 700 4.8rem/63.6px 'PT Serif', serif;
}

.banner-section .content_wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/banner-left-side-shapes.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section .content_wrapper h1 {
  font: 700 9rem/10.5rem 'PT Serif', serif;
  margin-bottom: 30px;
  z-index: 2;
}

.banner-section .content_wrapper p {
  font: 400 2.4rem/3.3rem 'Rubik', sans-serif;
}

.banner-section .content_wrapper .title-bg-shape {
  top: 54%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -5%;
  width: 50%;
}

.banner-section .content_wrapper .button-wrapper {
  margin-top: 50px;
  gap: 25px;
}

.banner-section .content_wrapper .rating-wrapper {
  gap: 25px;
  margin-top: 25px;
}

.banner-section .content_wrapper .rating-wrapper h5 {
  font: 400 1.4rem/16.6px 'Roboto', sans-serif;
  mix-blend-mode: normal;
  color: black;
  opacity: 0.5;
  margin: 0;
}

.banner-section .content_wrapper .rating-wrapper img {
  margin-top: 5px;
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-section .oval-image {
  width: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

main h3 {
  font: 700 4.8rem/63.6px 'PT Serif', serif;
}

main #accepting-payments {
  background: #fff3d6;
  padding: 26.5rem 0 17.5rem 0;
  z-index: 10;
}

main #accepting-payments .over-services {
  top: -4%;
  z-index: 11;
}

main #accepting-payments .over-services .over-inner-wrapper {
  padding: 5.7rem 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 50px 100px rgba(8, 15, 21, 0.0749392);
          box-shadow: 0px 50px 100px rgba(8, 15, 21, 0.0749392);
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .right-circle {
  width: 5.3rem;
  height: 5.3rem;
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .over-wrapper-content h5 {
  font: 400 1.5rem/1.8rem 'Roboto', sans-serif;
  color: black;
  opacity: 0.26;
}

main #accepting-payments .over-services .over-inner-wrapper .content-wrapper .over-wrapper-content h4 {
  font: 400 2.4rem/3rem 'Rubik', sans-serif;
}

main #accepting-payments .title .title-bg-shape {
  top: -20%;
  right: 32%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

main #accepting-payments .services-wrappers {
  margin-top: 10rem;
}

main #accepting-payments .services-wrappers:after, main #accepting-payments .services-wrappers:before {
  position: absolute;
  z-index: -1;
  background-size: cover;
}

main #accepting-payments .services-wrappers:after {
  content: '';
  width: 5rem;
  height: 4.5rem;
  left: -2%;
  top: 1%;
  background: url("../images/icons/blue-services.svg") no-repeat;
}

main #accepting-payments .services-wrappers:before {
  content: '';
  width: 15.5rem;
  height: 12.3rem;
  right: -7%;
  bottom: -5%;
  background: url("../images/icons/green-service.svg") no-repeat;
}

main #accepting-payments .services-wrappers .services-wrapper {
  margin-top: 4rem;
  padding: 4.5rem 7.5rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  main #accepting-payments .services-wrappers .services-wrapper .services-content {
    padding-left: 11.5rem;
  }
}

main #accepting-payments .services-wrappers .services-wrapper .services-content h6 {
  color: #ff3d3d;
  font: 400 1.8rem/3rem 'Roboto', sans-serif;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content h5 {
  font: 400 4.2rem/5.4rem 'PT Serif', serif;
  color: black;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content .bottom-content p {
  font: 400 2.4rem/3.6rem 'Roboto', sans-serif;
}

main #accepting-payments .services-wrappers .services-wrapper .services-content .bottom-content a img {
  max-width: 3rem;
}

main #accepting-payments .having-issues {
  margin-top: 13.2rem;
}

main #accepting-payments .having-issues h3 {
  margin-bottom: 95px;
}

main #thousands-sellers {
  padding: 18.5rem 0;
}

main #thousands-sellers .title {
  z-index: 1;
}

main #thousands-sellers .title .title-bg-shape {
  width: 40%;
  top: -15%;
  left: -4%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

main #thousands-sellers .title span {
  margin-right: 1rem;
  color: #1bacb0;
}

main #thousands-sellers .title P {
  line-height: 4.5rem;
}

main #thousands-sellers .card-wrapper {
  margin-top: 12rem;
}

main #thousands-sellers .card-wrapper .card {
  padding: 4.5rem 3.5rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #thousands-sellers .card-wrapper .card:hover {
  -webkit-box-shadow: 0px 20px 80px rgba(8, 15, 21, 0.0529529);
          box-shadow: 0px 20px 80px rgba(8, 15, 21, 0.0529529);
}

main #thousands-sellers .card-wrapper .card i {
  font-size: 4rem;
}

main #thousands-sellers .card-wrapper .card .card-title {
  margin-top: 2rem;
  font: 700 2.8rem/4rem 'PT Serif', serif;
}

main #thousands-sellers .card-wrapper .card .card-text {
  font: 400 2rem/3.4rem 'Rubik', sans-serif;
}

main #another-money {
  padding: 25.69rem 0;
  background: #c4eded;
}

main #another-money .content-wrapper .title .title-bg-shape {
  width: 45%;
  height: 100%;
  top: -3%;
  right: 13%;
  z-index: 2;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

main #another-money .content-wrapper .title h2 {
  margin-bottom: 7.5rem;
}

main #another-money .content-wrapper .title p {
  line-height: 3.8rem;
  margin-bottom: 9rem;
}

main #frequently-asked-questions {
  padding: 25rem 0 50.57rem 0;
}

main #frequently-asked-questions .title .title-main .title-bg-shape {
  width: 60%;
  height: 100%;
  bottom: -50%;
  left: -4%;
  z-index: -1;
}

main #frequently-asked-questions .title p {
  font-size: 2rem;
  line-height: 3.6rem;
  margin-top: 10rem;
  margin-bottom: 5.5rem;
}

main #frequently-asked-questions .accordion .accordion-item .accordion-button {
  padding: 3rem 0;
  color: black;
  font: 400 2.2rem 'Rubik', sans-serif;
}

main #frequently-asked-questions .accordion .fas {
  float: right;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #frequently-asked-questions .accordion .collapsed .fas {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

main #frequently-asked-questions .accordion button:focus {
  outline: 0 !important;
}

main #frequently-asked-questions .accordion p {
  font-size: 14px;
}

main #talk-about-finance {
  background: #fff3d4;
  position: relative;
}

main #talk-about-finance .have-questions {
  top: -24%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  padding: 0;
}

main #talk-about-finance .have-questions .inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 30px 60px rgba(19, 24, 48, 0.0720283);
          box-shadow: 0px 30px 60px rgba(19, 24, 48, 0.0720283);
  border-radius: 15px;
}

main #talk-about-finance .have-questions .inner-wrapper:after {
  content: '';
  width: 15rem;
  height: 13rem;
  top: -10%;
  left: -5%;
  position: absolute;
  z-index: 0;
  background: url(../images/haveq-after.png) no-repeat;
  background-size: cover;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper {
  padding: 9.5rem 7.5rem;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper .heading h3 {
  color: #262626;
  font: 700 3.2rem/4.2rem 'PT Serif', serif;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper .heading p {
  margin-top: 1rem;
  color: #787878;
  font: 400 2rem/2.7rem 'PT Serif', serif;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form {
  margin-top: 6.5rem;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group {
  height: 52px;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group label {
  color: #b7b7b7;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0 5px;
  top: -18%;
  left: 5%;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group select {
  border: 1.5px solid #d7d7d7;
  border-radius: 5px;
  padding-left: 20px;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group select,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input::-webkit-input-placeholder {
  font: 400 1.6rem/1.9rem 'Roboto', sans-serif;
  color: black;
  outline: none;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group select,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input:-ms-input-placeholder {
  font: 400 1.6rem/1.9rem 'Roboto', sans-serif;
  color: black;
  outline: none;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group select,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input::-ms-input-placeholder {
  font: 400 1.6rem/1.9rem 'Roboto', sans-serif;
  color: black;
  outline: none;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group select,
main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .form-group input::placeholder {
  font: 400 1.6rem/1.9rem 'Roboto', sans-serif;
  color: black;
  outline: none;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .btn-web {
  height: 5.2rem;
}

main #talk-about-finance .have-questions .inner-wrapper .request-call-wrapper form .below-btn-content {
  font: 400 1.6rem/1.9rem 'Roboto', sans-serif;
  color: #727272;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper {
  padding: 8rem 4rem;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .heading .main-title {
  z-index: 2;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .heading .main-title .title-bg-shape {
  width: 60%;
  height: 100%;
  bottom: -50%;
  left: -4%;
  z-index: -1;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .heading h2 {
  color: black;
  font: 700 6rem/7.2rem 'PT Serif', serif;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .heading P {
  margin-top: 4rem;
  color: #3e3e3e;
  font: 400 2rem/3.4rem 'Rubik', sans-serif;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .feel-free {
  margin-top: 4rem;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .feel-free h6 {
  font: 400 1.8rem 'Rubik', sans-serif;
  color: #8b8b8b;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .feel-free h5 {
  font: 400 2.4rem/4.4rem 'Rubik', sans-serif;
  color: black;
}

main #talk-about-finance .have-questions .inner-wrapper .have-questions-wrapper .feel-free h5 a {
  color: #ff3d3d;
}

main #talk-about-finance .we-talk-main-wrapper {
  padding: 35.6rem 0 20rem 0;
}

main #talk-about-finance .we-talk-main-wrapper .title .main-title {
  z-index: 2;
}

main #talk-about-finance .we-talk-main-wrapper .title .main-title .title-bg-shape {
  width: 11%;
  height: 100%;
  top: -2%;
  left: 19.5%;
  z-index: -1;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

main #talk-about-finance .we-talk-main-wrapper .title h5 {
  font: 400 2rem/2.3rem 'Roboto', sans-serif;
  color: black;
  opacity: 0.3;
  margin-bottom: 25px;
}

main #talk-about-finance .we-talk-main-wrapper .title .main-title {
  z-index: 1;
}

main #talk-about-finance .we-talk-main-wrapper .title .main-title h2 {
  line-height: 6.8rem;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper {
  margin-top: 10rem;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper .card {
  background: transparent;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper .card .card-body {
  padding: 3.5rem 0;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper .card .card-body .date {
  font: 400 1.7rem/2rem 'Rubik', sans-serif;
  color: #ff3d3d;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper .card .card-body .card-title {
  margin: 2rem 0 3rem 0;
  color: black;
  font: 700 3.2rem/3.8rem 'PT Serif', serif;
}

main #talk-about-finance .we-talk-main-wrapper .cards-wrapper .card .card-body a {
  color: black;
  font: 400 1.8rem/2.5rem 'Rubik', sans-serif;
}

main #talk-about-finance .your-payment-over {
  padding: 4.5rem 4rem;
  -webkit-box-shadow: 0px 40px 100px rgba(8, 15, 21, 0.0529529);
          box-shadow: 0px 40px 100px rgba(8, 15, 21, 0.0529529);
  border-radius: 10px;
  bottom: -6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

main #talk-about-finance .your-payment-over .heading h3 {
  font: 700 4.8rem/3.7rem 'PT Serif', serif;
}

main #talk-about-finance .your-payment-over .heading p {
  margin: 3rem 0 0 0;
  font: 400 2rem/2.8rem 'Rubik', sans-serif;
}

@media (min-width: 768px) {
  .dsk-display-none {
    display: block;
  }
}

@media (max-width: 768px) {
  .banner-section .oval-image {
    display: none;
  }
  main #accepting-payments .services-wrappers .services-wrapper {
    padding: 3rem 3rem;
  }
}

footer {
  padding: 26.6rem 0 8rem 0;
}

footer .footer-shape {
  width: 14.5rem;
  height: 23.46rem;
  top: 25%;
  right: 37%;
}

footer .log-wrapper ul {
  margin-top: 3rem;
}

footer .log-wrapper ul li a {
  color: black;
  font: 400 2rem/2.4rem 'Rubik', sans-serif;
}

footer .sing-up-media-links h4 {
  font: 400 1.4rem/2.8rem 'Rubik', sans-serif;
  color: #343434;
  opacity: 0.5;
  letter-spacing: 1.4px;
}

footer .sing-up-media-links form {
  gap: 20px;
}

footer .sing-up-media-links form input,
footer .sing-up-media-links form button {
  height: 5rem;
}

footer .sing-up-media-links form input {
  font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
  border: 2px solid #000000;
  border-radius: 5px;
}

footer .sing-up-media-links form input::-webkit-input-placeholder {
  color: #343434;
  font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
  opacity: 0.45;
}

footer .sing-up-media-links form input:-ms-input-placeholder {
  color: #343434;
  font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
  opacity: 0.45;
}

footer .sing-up-media-links form input::-ms-input-placeholder {
  color: #343434;
  font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
  opacity: 0.45;
}

footer .sing-up-media-links form input::placeholder {
  color: #343434;
  font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
  opacity: 0.45;
}

footer .sing-up-media-links form input:focus, footer .sing-up-media-links form input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #000000;
  border-radius: 5px;
}

footer .sing-up-media-links form button {
  max-width: 13rem;
  width: 13rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font: 400 1.6rem 'Rubik', sans-serif;
}

footer .sing-up-media-links .media-links ul {
  gap: 20px;
}

footer .sing-up-media-links .media-links ul li a i {
  font-size: 1.8rem;
  color: black;
}

footer .footer-bottom p {
  font: 400 1.8rem/2.1rem 'Rubik', sans-serif;
  color: #343434;
}
/*# sourceMappingURL=style.css.map */